body{
    background-image: url("../images/trees.png");
    width: 800px;
    margin: 0 auto;
}


.font-style{
    font-size: 20px;
    font-weight: 800px;
    
}



.gene-simmons-family-jewels {
    padding: 20px;
    margin: 20px;
    background-color: orange;
    font-family: 'PT Serif', serif;
}